.home .banner-1 img {
    width: 100%;
}

.home .banner-1 {
    position: relative;
}

.home .banner-1 .banner-text {
    position: absolute;
    top: 150px;
    left: 25%;
    color: blue;
    text-shadow: 2px 2px #ff0000;
}
.home h1 {
    font-size: 80px;
}