.quantyPicker{
    border-top: 2px solid red;
    text-align: center;
}

.qt-picker{
    padding-top: 5px;
    padding-bottom: 5px;
}
.increase{
    margin-right: 5px;
}
.decrease{
    margin-left: 5px;
}